body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  color: white;
}

#header {
  text-align: center;
  color: white;
  font-size: 22px;
  font-weight: bolder;
  text-shadow: 0 0 2px #00f, 0 0 4px #00f, 0 0 6px #00f, 0 0 8px #00f,
    0 0 10px #00f, 0 0 12px #00f, 0 0 14px #00f;
}

#form-div {
  width: 50rem;
  box-shadow: 0 0 10px #00f;
  border: #00f 1px solid;
  /* height: 18rem; */
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
  background-color: #00f;
}

button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: #00f;
  border-radius: 5px;
  z-index: 0;
  transform: translate(-50%, -50%) scale(0);
  opacity: 1;
}

button:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

button span {
  position: relative;
  z-index: 1;
}

button:hover {
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
}

input,select,option,textarea {
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 4px;
  padding: 4px;
  margin: 4px 0px;
  color: white;
}

input:hover,select:hover,option:hover,textarea:hover {
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
  border: 1px solid blue;
}

input:focus,select:focus,option:focus,textarea:focus {
  box-shadow: 0 0 15px rgba(0, 0, 255, 0.7);
  border: 1px solid blue;
}


